@import url("./reset.css");

:root {
  --cor1: #23272a;
  --cor2: #ffffff;
  --cor3: #F6F6F6;
}

/* Header */
header {
  background-image: url("../images/Header Background.png");
  background-size: cover;
  background-position: center;
  color: var(--cor2);
  padding: 50px 20px 80px 20px;
}

.elementos-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

header h1 {
  font-family: "Luckiest Guy", cursive;
  width: 280px;
  font-size: 2rem;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.botoes > button {
  max-width: auto;
  padding: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.botoes > #botao-1 {
  background-color: var(--cor2);
  color: var(--cor1);
}

.botoes > #botao-2 {
  background-color: var(--cor1);
  color: var(--cor2);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 20px 80px 20px;
  align-items: center;
}

/* Main - seções */

main img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.primeira,
.segunda,
.terceira, .quarta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.segunda, .quarta {
    background-color: var(--cor3);
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main h3 {
    font-weight: 800;
    font-size: 1.5rem;
}

main h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
}

/* Footer */

footer {
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 25px 20px;
}